{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2 id="user">{{ request.user.email }}</h2>

    <!-- Mailbox selection buttons -->
    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <!-- Feedback message -->
    <div class="alert alert-primary" id="feedback">
        
    </div>

    <!-- E-MAILS VIEW -->
    <div id="emails-view">
        <h3 id="mailbox-name"></h3>
        <hr>
        <div id="mailbox">
            <table class="table table-hover">
                <thead id="mails-header">
                    <tr class="d-flex">
                        <th class="border-0 col-3" id="from-to">From</th>
                        <th class="border-0 col-6">Subject</th>
                        <th class="border-0 col-3">Date</th>
                    </tr>
                </thead>
                <tbody id="mails">
                </tbody>
            </table>
        </div>
    </div>

    <!-- READ MAIL VIEW -->
    <div id="mail-view">
        <!-- Subject -->
        <h3 class="font-weight-normal" id="mail-subject"></h3>
        <hr>
        <!-- Header -->
        <div class="row">
            <!-- From/ to -->
            <div class="col-9">
                <div>
                    <span >From: </span>
                    <span class="font-weight-bold" id="mail-from"></span>
                </div> 
                <div>
                    <span>To: </span>
                    <span class="font-weight-bold" id="mail-to"></span>
                </div> 
            </div>
            <!-- Date -->
            <div class="col-3">
                <div>
                    <span class="font-italic" id="mail-date"></span>
                </div> 
            </div>
        </div>
        <hr>
        <!-- Body -->
        <p id="mail-body"></p>
        <!-- Mail buttons -->
        <div class="my-2" id="mail-buttons"></div>
    </div>

    <!-- COMPOSE VIEW -->
    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea autofocus class="form-control mb-3" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary" value="Send"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}