{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2 id="user">{{ request.user.email }}</h2>

    <!-- Mailbox selection buttons -->
    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <!-- Feedback message -->
    <div class="alert alert-primary" id="feedback">
        
    </div>

    <!-- Dynamic mailbox -->
    <div id="emails-view">
        <h3 id="mailbox-name"></h3>
        <div id="mailbox">
            <table class="table table-hover">
                <thead id="mails-header">
                    <tr>
                        <th class="border-0" scope="col">Sender</th>
                        <th class="border-0" scope="col">Subject</th>
                        <th class="border-0" scope="col">Date</th>
                    </tr>
                </thead>
                <tbody id="mails">
                </tbody>
            </table>
        </div>
    </div>

    <!-- Read E-mail -->
    <div id="mail-view">
        <!-- Header -->
        <div>
            <span class="font-weight-bold">From: </span>
            <span id="mail-from"></span>
        </div> 
        <div>
            <span class="font-weight-bold">To: </span>
            <span id="mail-to"></span>
        </div> 
        <div>
            <span class="font-weight-bold">Subject: </span>
            <span id="mail-subject"></span>
        </div> 
        <div>
            <span class="font-weight-bold">Date: </span>
            <span id="mail-date"></span>
        </div> 
        <div class="my-3" id="mail-buttons"></div>
        <hr>
        <!-- Body -->
        <p id="mail-body"></p>
    </div>

    <!-- Compose view -->
    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control mb-3" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}